*{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
}
.wrapper{
    width: 23%;
    height: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px auto;   
    background-color: rgba(224, 184, 212, 0.322);
    border-radius: 18px;
}
button{
    margin: 15px;
    padding: 1em 1em;
    width: 300px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: solid 1px transparent;
    border-radius: 4px;
    background-color:rgba(170, 129, 204, 0.288);
}
